/* Estilos generales */
header {
    background-color: #E8DCC3;
    padding: 1em 0;
    margin-bottom: 1rem;
}
header h1 {
    color: #3D3D3D;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F0E1; /* Beige claro */
    color: #3D3D3D; /* Gris oscuro en lugar de negro puro */
    text-align: center;
}

/* Encabezado */
header {
    background-color: #E8DCC3; /* Beige más cálido */
    color: #3D3D3D;
    padding: 1em 0;
    text-align: center;
}

/* Barra de navegación */
nav {
    background-color: #D9C7A6; /* Beige medio */
    padding: 1em 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-menu-button,
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em ;
    background-color: #A68A64; /* Beige oscuro */
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}
.buttonNav {
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    background-color: #A68A64;
    color: #FFF;
    text-decoration: none;
}

.nav-menu-button:hover,
.button:hover {
    background-color: #8C735A; /* Un beige más oscuro al pasar el cursor */
    transform: scale(1.05);
}

/* Contenido principal */
main {
    padding: 2em;
    background-color: #F5F0E1;
}

main p {
    font-size: 1.1em;
    color: #3D3D3D;
}

/* Botones principales */
main .button {
    margin: 10px;
}

/* Pie de página */
footer {
    background-color: #E8DCC3;
    color: #3D3D3D;
    padding: 1em 0;
    margin-top: 2em;
}

/* Estilos para las tablas */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #FFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

table thead {
    background-color: #D9C7A6;
    color: #3D3D3D;
}

table th, table td {
    padding: 12px;
    border: 1px solid #DDD;
    text-align: left;
}

table tbody tr:nth-child(even) {
    background-color: #F5F0E1;
}

table tbody tr:hover {
    background-color: #E8DCC3;
}
.logo {
    width: 150px; /
    height: auto;
    display: block;
    margin: 0 auto 10px; /* Centra el logo y agrega margen inferior */
}

.lista-clientes {
    width: 30%;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin: 0 auto;
}


/* Estilos para los grupos del formulario */
.form-group {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    max-width: 400px;


}

/* Etiquetas de los campos */
.form-group label {
    font-weight: bold;
    color: #3D3D3D;
    display: block;
    margin-bottom: 8px;


}

/* Estilos para los campos de entrada */
.form-group input,
.form-group textarea {
    box-sizing: border-box;
    width: 30%;
    padding: 10px;
    border: 1px solid #D9C7A6;
    border-radius: 5px;
    font-size: 16px;
    background-color: #F5F0E1;
    color: #3D3D3D;
    transition: border-color 0.3s ease;
    resize: none;
}

/* Efecto cuando un campo está enfocado */
.form-group input:focus,
.form-group textarea:focus {
    border-color: #A68A64;
    outline: none;
    background-color: #FFF;
}

/* Estilos para el botón de envío */
.form_button {
    width: 100%;
    padding: 12px;
    background-color: #A68A64;
    color: white;
    font-size: 18px;
    border: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}
.filtro-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #E8DCC3;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form_button:hover {
    background-color: #8C735A;
    transform: scale(1.05);
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    /*height: 100vh; /* Ocupa toda la altura de la ventana */
}
/* Formulario de filtros inline */
.filtro-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #E8DCC3;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.form-group {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #3D3D3D;
}
.form-group input {
    width: 200px;
    padding: 10px;
    border: 1px solid #D9C7A6;
    border-radius: 5px;
    background-color: #F5F0E1;
    transition: border-color 0.3s ease;
}
.form-group input:focus {
    border-color: #A68A64;
    background-color: #FFF;
    outline: none;
}

.delete-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    color: darkred;
}

/* Estilo para el formulario de filtro */
.filtro-container {
    /*display: flex;
    /*flex-direction: column;*/
   /* justify-content: center;
    align-items: flex-end;
    align-self: center;
    gap: 1.5rem;
    margin: 20px auto;
    padding: 15px;
    background-color: #E8DCC3; /* Fondo beige cálido */
   /* border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 80%;*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #E8DCC3;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Estilo para el label del filtro */
.filtro-container label {
    font-weight: bold;
    color: #3D3D3D;
    margin-bottom: 8px;
    font-size: 16px;
}

/* Estilo para el select del filtro */
.filtro-container select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #D9C7A6;
    border-radius: 5px;
    background-color: #F5F0E1;
    color: #3D3D3D;
    transition: border-color 0.3s ease;
}

/* Efecto al hacer hover o focus en el select */
.filtro-container select:focus,
.filtro-container select:hover {
    border-color: #A68A64;
    outline: none;
    background-color: #FFF;
}

/* Estilo para el botón de filtrar */
.filtro-container button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #A68A64;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

/* Efecto hover en el botón */
.filtro-container button:hover {
    background-color: #8C735A;
    transform: scale(1.05);
}


.icon-nav {
    vertical-align: middle;
    horiz-align: center;
    width: 100px;
    height: 100px;



}