<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscar cliente para actualizar datos</title>
    <link rel="stylesheet" th:href="@{/styles4.css}" />
</head>
<body>
<header>
    <h1>Buscar cliente por ID</h1>
</header>
<div class="container">
    <div class="formulario">
        <div class="form-group">
            <form th:action="@{/actualizarCliente}" method="get">
                <label for="id">ID del Cliente:</label>
                <input type="text" id="id" name="id" required>
                <div >
                    <button type="submit" class="form_button">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="lista-clientes">
        <h3>Lista de Clientes</h3>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nombre}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div >
    <a href="/api-rest" class="button">Volver a la página de inicio</a>
</div>



</body>
</html>