<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestión de Proyectos</title>
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}">
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
<div th:insert="~{fragments/navbar :: mainNav}"></div>
<header>
    <img th:src="@{/img/logo.png}" alt="Logo de la empresa" class="logo">
    <h1>New Home Studio</h1>
</header>

<nav>
    <div class="button-container">
        <a th:href="@{/verClientes}" class="button">
            <img th:src="@{/img/Clientes.svg}" alt="Clientes" class="icon-nav">
            <span>Clientes</span>
        </a>
        <a th:href="@{/verProyectos}" class="button">
            <img th:src="@{/img/Proyecto.svg}" alt="Proyectos" class="icon-nav">
            <span>Proyectos</span>
        </a>
        <a th:href="@{/verEmpresasAsociadas}" class="button">
            <img th:src="@{/img/Empresas.svg}" alt="Empresas" class="icon-nav">
            <span>Empresas Asociadas</span>
        </a>
        <a th:href="@{/verFacturas}" class="button" >
            <img th:src="@{/img/Facturas.svg}" alt="Clientes" class="icon-nav">
            <span>Facturas</span>
            </a>

    </div>



</nav>

<main>
    <h2>Bienvenido al Sistema</h2>
    <p>Utilice los siguientes botones para acceder a las diferentes secciones del sistema.</p>

    <!--<a href="/clientes" class="button">Clientes</a>
    <a href="/proyectos" class="button">Proyectos</a>
    <a href="/empresas-asociadas" class="button">Empresas Asociadas</a>
    <a href="/facturas" class="button">Facturas</a> !-->
</main>

<footer>
    <p>&copy; 2025 Proyecto de Gestión de Empresa</p>
</footer>
</body>
</html>