<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Clientes</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
<div class="container">
    <h1>Menú Clientes</h1>
    <div class="button-container">
        <a th:href="@{/altacliente}" class="button">Alta Clientes</a>
        <a th:href="@{/listaclientes}" class="button">Ver Lista de Clientes</a>
        <a th:href="@{/buscarclienteid}" class="button">Actualizar Cliente</a>
    </div>
</div>

</body>
</html>