<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Cliente</title>
    <link rel="stylesheet" th:href="@{/styles3.css}" />
</head>
<body>
<div class="container">
    <h1>Actualizar Cliente</h1>
    <form th:action="@{/actualizarcliente}" th:object="${cliente}" method="post">
        <div class="form-group">
        <input type="hidden" th:field="*{id}"> <!-- Campo oculto para el ID -->
            </div>
        <div class="form-group">
            <label for="dni">DNI:</label>
            <input type="text" id="dni" th:field="*{dni}" required>
        </div>

        <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}" required>
        </div>

        <div class="form-group">
        <label for="edad">Edad:</label>
        <input type="number" id="edad" th:field="*{edad}" >
        </div>
        <div class="form-group">
        <label for="domicilio">Domicilio:</label>
        <input type="text" id="domicilio" th:field="*{domicilio}">
        </div>

        <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" th:field="*{telefono}">

        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}">
        </div>
        <div class="form-group">
        <label for="observaciones">Observaciones:</label>
        <input type="text" id="observaciones" th:field="*{observaciones}">
        </div>

        <div class="form-group">
            <label for="proyecto">Proyecto Id:</label>
            <input type="text" id="proyecto" th:field="*{proyecto.id}">
        </div>

        <div th:if="${mensaje}" th:class="${'operation_message ' + tipo_operacion +'_message'}">
            <p th:text="${mensaje}"></p>
        </div>
        <div class="button-container">
            <button class="form_button" type="submit">Actualizar Cliente</button>
        </div>
        <div class="button-container">
            <a href="/api-rest" class="button">Volver a la página de inicio</a>
        </div>
    </form>
    </div>
</body>
</html>