<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Visualizar Clientes</title>
    <link rel="stylesheet" th:href="@{/styles2.css}" />
</head>
<body>
<div class="container">
    <header>
        <h1>Lista de Clientes</h1>
    </header>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Domicilio</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Observaciones</th>
            <th>Proyecto</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.id}"></td>
            <td th:text="${cliente.dni}"></td>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.edad}"></td>
            <td th:text="${cliente.domicilio}"></td>
            <td th:text="${cliente.telefono}"></td>
            <td th:text="${cliente.email}"></td>
            <td th:text="${cliente.observaciones}"></td>
            <td th:text="${cliente.proyecto != null ? cliente.proyecto.nombre : 'Sin Proyecto'}"></td>
        </tr>
        </tbody>
    </table>
    <div class="button-container">
        <a href="/api-rest" class="button">Volver a la página de inicio</a>
    </div>
</div>
</body>
</html>