<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Visualizar Proyectos</title>
    <link rel="stylesheet" th:href="@{/styles2.css}" />
</head>
<body>
<div class="container">
    <header>
        <h1>Lista de Proyectos</h1>
    </header>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Presupuesto</th>
            <th>Nombre</th>
            <th>Fecha de Inicio</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="proyecto : ${proyectos}">
            <td th:text="${proyecto.id}"></td>
            <td th:text="${proyecto.presupuesto}"></td>
            <td th:text="${proyecto.nombre}"></td>
            <td th:text="${proyecto.fechaInicio}"></td>
        </tr>
        </tbody>
    </table>
    <div class="button-container">
        <a href="/api-rest" class="button">Volver a la página de inicio</a>
    </div>
</div>
</body>
</html>